body {
  font-family: arial, sans-serif;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 20px auto;
}

.weather-app {
  border: 2px solid #dadde1;
  padding: 15px;
  border-radius: 10px;
}

.top-section {
  text-align: center;
}

#weather-description {
  font-style: italic;
  color: rgb(117, 112, 112);
  line-height: 10px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.search {
  margin: 0;
  padding-right: 0;
}

.changeUnit {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  margin: 0;
}

.changeUnit .active {
  color: black;
  cursor: default;
}

.changeUnit .active:hover {
  text-decoration: none;
}

.second-row {
  margin-bottom: 10px;
}

.city {
  color: rgb(18, 18, 143);
  font-size: 50px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 25px;
}

.dateTime {
  text-align: right;
  list-style: none;
  margin-left: 0;
}

.city {
  color: rgb(18, 18, 143);
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
}

.weather-icon {
  margin-left: 0px;
  text-align: right;
  line-height: 100px;
}

#weatherIcon {
  width: 120px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 78px;
  font-weight: 400;
  text-align: center;
  margin-left: 0px;
  line-height: 100px;
}

.temperature .unit {
  position: relative;
  font-size: 35px;
  top: -28px;
}

.middle-section .hi-lo {
  position: relative;
  top: 25px;
  font-size: 13px;
}

.hi-lo {
  text-align: right;
}

.sr-time,
.ss-time {
  margin-bottom: 0;
}

.sr-words,
.ss-words {
  font-size: 8px;
  margin-top: 0;
}

.sr-words {
  margin-bottom: 8px;
}

.wspec-img {
  margin: 0px;
}

.weather-specifics {
  text-align: center;
  font-size: 13px;
}

.wspec-words {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 130, 130);
}

.foot {
  float: right;
}
