body {
  font-family: arial, sans-serif;
}

.city {
  color: rgb(18, 18, 143);
  font-size: 50px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  font-size: 90px;
  margin: 0;
  text-align: left;
}

#weather-description {
  font-style: italic;
  color: rgb(117, 112, 112);
  line-height: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 78px;
  font-weight: 400;
  text-align: right;
  margin: 0;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.changeUnit {
  font-size: 20px;
  text-align: right;
}

.locate-btn {
  font-size: 12px;
  padding: 3px;
}

.wspec-img {
  margin: 0px;
}

.weather-specifics {
  text-align: center;
  font-size: 14px;
}

#wspec-words {
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hi-lo {
  font-size: 10px;
}

.hilo {
  text-align: right;
  line-height: 0;
  margin-bottom: 30px;
}

.foot {
  text-align: center;
}
